<div class="principal" *ngIf="show1">
  <h1>DEJA VU AREA</h1>
  <h2>This is your first time here.</h2>
  <h3>If this location looks familiar, immediately alert an employee</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum
    ipsum id orci laoreet, in ultricies mauris iaculis. Praesent in placerat
    erat. Ut volutpat ornare nisi vitae feugiat. Proin sit amet gravida turpis.
    Donec tristique at ligula non molestie. Duis egestas, nulla ut fermentum
    faucibus, metus enim commodo purus, in auctor dui lectus id dolor. Morbi
    ornare magna vitae nibh ultrices, sed gravida lacus tristique. Pellentesque
    dignissim, ante non dictum vestibulum, turpis nisi blandit nibh, vitae
    viverra sem neque vitae erat. Nulla mi leo, consequat in vehicula quis,
    aliquam at velit. Integer non leo bibendum, lacinia ligula eget, molestie
    sem. Duis gravida dictum accumsan. Morbi sed lacus consequat, sollicitudin
    libero quis, sodales nunc.
  </p>
  <h3>If you see something, say something.</h3>
</div>
